openapi: 3.2.0
info:
  title: Agave Unified Construction Budgets Vendors API
  description: The Agave Unified Construction API provides a single REST API to read and write data from 100+ construction and accounting software systems. It normalizes data across platforms including projects, budgets, contracts, commitments, purchase orders, invoices, cost codes, vendors, timesheets, and employees.
  version: '1.0'
  contact:
    name: Agave API Support
    url: https://docs.agaveapi.com
  x-generated-from: documentation
servers:
- url: https://api.agaveapi.com
  description: Production Server (verified 2026-08-30 — https://api.agaveapi.com/projects returns 401
    "Invalid API-Version header"; the /v1 prefix previously carried here 404s and sandbox.agaveapi.com
    does not resolve)
security:
- ClientId: []
  ClientSecret: []
  AccountToken: []
tags:
- name: Vendors
  description: Vendor and subcontractor management.
paths:
  /vendors:
    get:
      operationId: listVendors
      summary: Agave List Vendors
      description: Retrieve vendors and subcontractors from the linked source system.
      tags:
      - Vendors
      parameters:
      - name: source_system_id
        in: header
        required: true
        description: The linked account source system identifier.
        schema:
          type: string
        example: linked-account-abc123
      - name: limit
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: A list of vendors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorList'
              examples:
                listVendors200Example:
                  summary: Default listVendors 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - {}
                    next_cursor: example_value
                    count: 1
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listVendors401Example:
                  summary: Default listVendors 401 response
                  x-microcks-default: true
                  value:
                    error: example_value
                    message: example_value
                    request_id: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      description: API error response.
      properties:
        error:
          type: string
          description: Error code.
          example: not_found
        message:
          type: string
          description: Human-readable error description.
          example: The requested resource was not found.
        request_id:
          type: string
          description: Unique request ID for support.
          example: req-a1b2c3d4e5
    VendorList:
      type: object
      description: Paginated list of vendors.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vendor'
          example:
          - example_value
        next_cursor:
          type: string
          example: eyJpZCI6MTIzfQ==
        count:
          type: integer
          example: 50
    Vendor:
      type: object
      description: A vendor or subcontractor record.
      properties:
        id:
          type: string
          description: Vendor identifier.
          example: ven-334455
        name:
          type: string
          description: Vendor name.
          example: ABC Concrete Contractors
        email:
          type: string
          description: Primary vendor contact email.
          example: admin@abcconcrete.com
        phone:
          type: string
          description: Vendor phone number.
          example: 14155551234
        address:
          type: string
          description: Vendor address.
          example: 456 Industrial Blvd, Oakland, CA 94601
        tax_id:
          type: string
          description: Vendor tax identification number.
          example: 12-3456789
        status:
          type: string
          description: Vendor status.
          enum:
          - active
          - inactive
          example: active
  securitySchemes:
    ClientId:
      type: apiKey
      in: header
      name: Client-Id
      description: Your Agave Client Identifier, always a 36-character UUID. Source https://docs.agaveapi.com/agave-api/headers
    ClientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Your Agave Client Secret, a 40-character string. Source https://docs.agaveapi.com/agave-api/headers
    AccountToken:
      type: apiKey
      in: header
      name: Account-Token
      description: The unique Account Token associated with the linked User account. Not used on Link Token requests. Source https://docs.agaveapi.com/agave-api/headers
