openapi: 3.0.3
info:
  title: Agave Unified Construction Budgets API
  description: The Agave Unified Construction API provides a single REST API to read and write data from 100+ construction and accounting software systems. It normalizes data across platforms including projects, budgets, contracts, commitments, purchase orders, invoices, cost codes, vendors, timesheets, and employees.
  version: '1.0'
  contact:
    name: Agave API Support
    url: https://docs.agaveapi.com
  x-generated-from: documentation
servers:
- url: https://api.agaveapi.com/v1
  description: Production Server
- url: https://sandbox.agaveapi.com/v1
  description: Sandbox Server
security:
- apiKey: []
tags:
- name: Budgets
  description: Project budget and cost management resources.
paths:
  /budgets:
    get:
      operationId: listBudgets
      summary: Agave List Budgets
      description: Retrieve budget line items for projects in the linked source system.
      tags:
      - Budgets
      parameters:
      - name: source_system_id
        in: header
        required: true
        description: The linked account source system identifier.
        schema:
          type: string
        example: linked-account-abc123
      - name: project_id
        in: query
        description: Filter budgets by project ID.
        schema:
          type: string
        example: proj-500123
      - name: limit
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: A list of budget line items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetList'
              examples:
                listBudgets200Example:
                  summary: Default listBudgets 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - {}
                    next_cursor: example_value
                    count: 1
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listBudgets401Example:
                  summary: Default listBudgets 401 response
                  x-microcks-default: true
                  value:
                    error: example_value
                    message: example_value
                    request_id: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BudgetList:
      type: object
      description: Paginated list of budget line items.
      properties:
        data:
          type: array
          description: Array of budget records.
          items:
            $ref: '#/components/schemas/Budget'
          example:
          - example_value
        next_cursor:
          type: string
          description: Cursor for the next page.
          example: eyJpZCI6MTIzfQ==
        count:
          type: integer
          description: Number of records returned.
          example: 100
    Error:
      type: object
      description: API error response.
      properties:
        error:
          type: string
          description: Error code.
          example: not_found
        message:
          type: string
          description: Human-readable error description.
          example: The requested resource was not found.
        request_id:
          type: string
          description: Unique request ID for support.
          example: req-a1b2c3d4e5
    Budget:
      type: object
      description: A budget line item for a construction project.
      properties:
        id:
          type: string
          description: Agave budget line item identifier.
          example: bud-112233
        project_id:
          type: string
          description: Associated project identifier.
          example: proj-500123
        cost_code_id:
          type: string
          description: Associated cost code identifier.
          example: cc-445566
        description:
          type: string
          description: Budget line item description.
          example: Concrete Foundation Work
        original_amount:
          type: number
          description: Original budgeted amount in USD.
          example: 250000.0
        revised_amount:
          type: number
          description: Revised budget amount including changes.
          example: 275000.0
        actual_cost:
          type: number
          description: Actual cost incurred to date.
          example: 180000.0
        projected_cost:
          type: number
          description: Total projected cost at completion.
          example: 270000.0
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: API-Key
      description: Agave API key for authentication.
