openapi: 3.2.0
info:
  title: Agave Unified Construction API (derived from the provider…
  version: '2021-11-21'
  description: Machine-readable OpenAPI DERIVED by API Evangelist from the Postman collection Agave publishes at https://docs.agaveapi.com/agave-api/postman-collection (AgaveAPI-2024-09-10.zip, collection exported 2024-09-10, 437 requests).
  contact:
    name: Agave API Support
    email: api-support@agaveapi.com
    url: https://docs.agaveapi.com
  x-derived-from: collections/agave-api-provider.postman_collection.json
  x-method: derived
  x-generated: '2026-08-30'
servers:
- url: https://api.agaveapi.com
  description: Production
security:
- ClientId: []
  ClientSecret: []
  AccountToken: []
tags:
- name: Financials Management
  description: Financials Management resources in the Agave unified construction API.
paths:
  /assets:
    get:
      operationId: getAssets
      summary: List Assets
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postAssets
      summary: New Asset
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              category: EQUIPMENT
              current_location_id: '*'
              default_location_id: 001-NY
              description: Ford F250 Pickup Truck
              make: Ford
              manufacturer: null
              model: F250
              name: FORD F250 PICKUP Test
              number: '100024696'
              ownership_type: null
              serial_number: S8XEE906
              status: Active
              type: '1000'
              vendor_id: 00a46e09-d013-5818-9bb6-871f0953148f
              source_data:
                EmeHomelocName: New York Yard / Warehouse
                EmeBulkEquipmentFlag: Y
                EmeAutoChargeoutFlag: Y
                EmeEqpHier: A126
                EmeBillRateRequiredFlag: N
                EmeFixedAssetsFlag: Y
                EmeDepreciationFlag: N
                EmeUseMeterReadingFlag: N
  /assets/{asset_id}:
    get:
      operationId: getAssetsByAssetId
      summary: Show Asset
      tags:
      - Financials Management
      parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the asset.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putAssetsByAssetId
      summary: Update Asset
      tags:
      - Financials Management
      parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the asset.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              category: EQUIPMENT
              current_location_id: '*'
              default_location_id: 001-NY
              description: Ford F250 Pickup Truck
              make: Ford
              manufacturer: null
              model: F250
              name: FORD F250 PICKUP
              number: '1000245'
              ownership_type: null
              serial_number: S8XEE769789
              status: Active
              type: '1000'
              source_data:
                EmeHomelocName: New York Yard / Warehouse
                EmeBulkEquipmentFlag: Y
                EmeAutoChargeoutFlag: Y
                EmeEqpHier: '999'
                EmeBillRateRequiredFlag: N
                EmeFloatFlag: N
                EmeFixedAssetsFlag: Y
                EmeDepreciationFlag: N
                EmeUseMeterReadingFlag: N
  /ap-invoices:
    get:
      operationId: getApInvoices
      summary: List AP Invoices
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postApInvoices
      summary: New AP Invoice
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              type: Voucher
              issue_date: '2024-03-02'
              vendor_id: '{{vendor_id}}'
              contract:
                id: '{{subcontract_id}}'
                type: subcontract
              number: sz-001
              line_items:
              - amount: '10'
                quantity: '0'
                contract:
                  id: '{{subcontract_id}}'
                  line_item_id: '{{subcontract_line_item_id}}'
  /ap-invoices/{ap_invoice_id}:
    get:
      operationId: getApInvoicesByApInvoiceId
      summary: Show AP Invoice
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putApInvoicesByApInvoiceId
      summary: Update AP Invoice
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: apple
              due_date: '2023-05-11'
              issue_date: '2023-04-11'
              number: '3'
    delete:
      operationId: deleteApInvoicesByApInvoiceId
      summary: Delete AP Invoice
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ap-invoices/{ap_invoice_id}/line-items:
    get:
      operationId: getApInvoicesByApInvoiceIdLineItems
      summary: List AP Invoice Line Items
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postApInvoicesByApInvoiceIdLineItems
      summary: New AP Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: '1.3'
              description: test item
              quantity: '1.0'
              unit_cost: '1.3'
              type: AccountBasedExpenseLineDetail
              customer_id: '{{customer_id}}'
              status: NotBillable
  /ap-invoices/{ap_invoice_id}/line-items/{ap_invoice_line_item_id}:
    get:
      operationId: getApInvoicesByApInvoiceIdLineItemsByApInvoiceLineItemId
      summary: Show AP Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      - name: ap_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putApInvoicesByApInvoiceIdLineItemsByApInvoiceLineItemId
      summary: Update AP Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      - name: ap_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              discount_amount: '{{$randomInt}}'
    delete:
      operationId: deleteApInvoicesByApInvoiceIdLineItemsByApInvoiceLineItemId
      summary: Delete AP Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice.
      - name: ap_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ap-payments:
    get:
      operationId: getApPayments
      summary: List AP Payments
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postApPayments
      summary: New AP Payment
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              bank_account_id: source_id:35
              description: Test AP Payment
              number: PA-013-PAY
              payment_date: '2024-01-01'
              payment_method: Check
              total_amount: '10.00'
              vendor_id: source_id:10
              line_items:
              - ap_invoice_id: '{{ap_invoice_id}}'
                discount_taken_amount: null
                total_amount: '5.00'
  /ap-payments/{ap_payment_id}:
    get:
      operationId: getApPaymentsByApPaymentId
      summary: Show AP Payment
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putApPaymentsByApPaymentId
      summary: Update AP Payment
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: apple
              due_date: 2/2/22
              issue_date: 1/1/11
              number: '3'
              vendor_id: 82be2b68-5e42-5e04-b54d-4ceafc8eea92
              line_items:
              - amount: 103
                description: newnew2
                quantity: 203
                status: Billable
                type: AccountBasedExpenseLineDetail
                unit_cost: 303
                account_id: e6254e11-d683-5b14-95ba-47bd37aefa17
                item_id: bdbb5e32-502e-525b-a98d-d6e461a0fad2
                customer_id: 9e46c938-6ffc-5841-b37d-b2589ce437fb
    delete:
      operationId: deleteApPaymentsByApPaymentId
      summary: Delete AP Payment
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ap-payments/{ap_payment_id}/line-items:
    get:
      operationId: getApPaymentsByApPaymentIdLineItems
      summary: List AP Payment Line Items
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postApPaymentsByApPaymentIdLineItems
      summary: New AP Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              ap_invoice_id: source_id:454800
              total_amount: '600.00'
  /ap-payments/{ap_payment_id}/line-items/{ap_payment_line_item_id}:
    get:
      operationId: getApPaymentsByApPaymentIdLineItemsByApPaymentLineItemId
      summary: Show AP Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      - name: ap_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment line item.
      - name: contract_id
        in: query
        required: false
        schema:
          type: string
      - name: contract_type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putApPaymentsByApPaymentIdLineItemsByApPaymentLineItemId
      summary: Update AP Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      - name: ap_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: 100
              description: Two tons of cement!
              quantity: null
              status: Billable
              type: AccountBasedExpenseLineDetail
              unit_cost: null
              ledger_account_id: c0d61b50-1e58-5844-86aa-c4f42a601808
              item_id: null
              customer_id: 693f8cb6-f10e-5c6b-a4c8-6e2dbe738d8c
    delete:
      operationId: deleteApPaymentsByApPaymentIdLineItemsByApPaymentLineItemId
      summary: Delete AP Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ap_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment.
      - name: ap_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ap payment line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ar-invoices:
    get:
      operationId: getArInvoices
      summary: List AR Invoices
      tags:
      - Financials Management
      parameters:
      - name: filters[]
        in: query
        required: false
        schema:
          type: string
      - name: filters[]
        in: query
        required: false
        schema:
          type: string
      - name: filters[]
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postArInvoices
      summary: New AR Invoice
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              batch: '10916'
              customer_id: source_id:3507331
              issue_date: '2024-08-05'
              number: '357'
              tax_code_id: source_id:1900
              department_id: source_id:1
              line_items:
                amount:
                - '50'
  /ar-invoices/{ar_invoice_id}:
    get:
      operationId: getArInvoicesByArInvoiceId
      summary: Show AR Invoice
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putArInvoicesByArInvoiceId
      summary: Update AR Invoice
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              due_date: '2023-05-12'
              issue_date: '2023-04-11'
    delete:
      operationId: deleteArInvoicesByArInvoiceId
      summary: Delete AR Invoice
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ar-invoices/{ar_invoice_id}/line-items:
    get:
      operationId: getArInvoicesByArInvoiceIdLineItems
      summary: List AR Invoice Line Items
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postArInvoicesByArInvoiceIdLineItems
      summary: New AR Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: 337db147-8267-56de-8d84-8785fb789069
              unit_of_measure: $
              source_data:
                ScschVenCode: '3456'
                ScschChgCode: '000'
                ScschCatCode: M
                ScschTaskCode: '1'
  /ar-invoices/{ar_invoice_id}/line-items/{ar_invoice_line_item_id}:
    get:
      operationId: getArInvoicesByArInvoiceIdLineItemsByArInvoiceLineItemId
      summary: Show AR Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      - name: ar_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putArInvoicesByArInvoiceIdLineItemsByArInvoiceLineItemId
      summary: Update AR Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      - name: ar_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: 337db147-8267-56de-8d84-8785fb789069
              unit_of_measure: $
    delete:
      operationId: deleteArInvoicesByArInvoiceIdLineItemsByArInvoiceLineItemId
      summary: Delete AR Invoice Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_invoice_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice.
      - name: ar_invoice_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar invoice line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              actual_completion_date: '2022-08-25'
              contractor_id: '{{vendor_id}}'
              defects_expiry_date: '2022-08-27'
              defects_period: ''
              description: Contract by Pooria via Agave 5
              estimated_completion_date: '2022-08-27'
              execution_date: '2022-05-27'
              full_release_date: '2022-02-27'
              half_release_date: '2022-08-27'
              is_executed: true
              retainage_percent: 25
              retention_based_on: Unknown
              sent_date: '2022-01-01'
              start_date: '2022-01-02'
              total_amount: ''
              type: Lump Sum
  /ar-payments:
    get:
      operationId: getArPayments
      summary: List AR Payments
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postArPayments
      summary: New AR Payment
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: 25
              batch: '1'
              number: abcdef245
              customer_id: '{{customer_id}}'
              type: AR PAYMENTS
              line_items:
              - amount: 25
                ar_invoice_id: '{{ar_invoice_id}}'
                type: Invoice
                discount_taken_amount: 1
  /ar-payments/{ar_payment_id}:
    get:
      operationId: getArPaymentsByArPaymentId
      summary: Show AR Payment
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putArPaymentsByArPaymentId
      summary: Update AR Payment
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: 123
              customer_id: '{{customer_id}}'
              memo: some memo
              transaction_date: 1/1/11
              line_items:
              - amount: 123
                ar_invoice_id: '{{invoice_id}}'
    delete:
      operationId: deleteArPaymentsByArPaymentId
      summary: Delete AR Payment
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /ar-payments/{ar_payment_id}/line-items:
    get:
      operationId: getArPaymentsByArPaymentIdLineItems
      summary: List AR Payment Line Items
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postArPaymentsByArPaymentIdLineItems
      summary: New AR Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: 337db147-8267-56de-8d84-8785fb789069
              unit_of_measure: $
              source_data:
                ScschVenCode: '3456'
                ScschChgCode: '000'
                ScschCatCode: M
                ScschTaskCode: '1'
  /ar-payments/{ar_payment_id}/line-items/{ar_payment_line_item_id}:
    get:
      operationId: getArPaymentsByArPaymentIdLineItemsByArPaymentLineItemId
      summary: Show AR Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      - name: ar_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              actual_completion_date: '2022-08-25'
              contractor_id: '{{vendor_id}}'
              defects_expiry_date: '2022-08-27'
              defects_period: ''
              description: Contract by Pooria via Agave 5
              estimated_completion_date: '2022-08-27'
              execution_date: '2022-05-27'
              full_release_date: '2022-02-27'
              half_release_date: '2022-08-27'
              is_executed: true
              retainage_percent: 25
              retention_based_on: Unknown
              sent_date: '2022-01-01'
              start_date: '2022-01-02'
              total_amount: ''
              type: Lump Sum
    put:
      operationId: putArPaymentsByArPaymentIdLineItemsByArPaymentLineItemId
      summary: Update AR Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      - name: ar_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: 337db147-8267-56de-8d84-8785fb789069
              unit_of_measure: $
    delete:
      operationId: deleteArPaymentsByArPaymentIdLineItemsByArPaymentLineItemId
      summary: Delete AR Payment Line Item
      tags:
      - Financials Management
      parameters:
      - name: ar_payment_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment.
      - name: ar_payment_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the ar payment line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              actual_completion_date: '2022-08-25'
              contractor_id: '{{vendor_id}}'
              defects_expiry_date: '2022-08-27'
              defects_period: ''
              description: Contract by Pooria via Agave 5
              estimated_completion_date: '2022-08-27'
              execution_date: '2022-05-27'
              full_release_date: '2022-02-27'
              half_release_date: '2022-08-27'
              is_executed: true
              retainage_percent: 25
              retention_based_on: Unknown
              sent_date: '2022-01-01'
              start_date: '2022-01-02'
              total_amount: ''
              type: Lump Sum
  /bank-accounts:
    get:
      operationId: getBankAccounts
      summary: List Bank Accounts
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /bank-accounts/{bank_account_id}:
    get:
      operationId: getBankAccountsByBankAccountId
      summary: Show Bank Account
      tags:
      - Financials Management
      parameters:
      - name: bank_account_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the bank account.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /batches:
    get:
      operationId: getBatches
      summary: List Batches
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postBatches
      summary: New Batch
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              type: Timecard Entry
              source_data:
                Mth: '2024-01-01 00:00:00'
  /batches/{batch_id}:
    get:
      operationId: getBatchesByBatchId
      summary: Show Batch
      tags:
      - Financials Management
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the batch.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putBatchesByBatchId
      summary: Update Batch
      tags:
      - Financials Management
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the batch.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              status: Posted
  /budget-line-items:
    get:
      operationId: getBudgetLineItems
      summary: List Budget Line Items
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postBudgetLineItems
      summary: New Budget Line Item
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_type_id: source_id:Labor
              cost_code_id: source_id:02
              quantity: '1'
              unit_cost: '1250'
              original_amount: '1250'
    patch:
      operationId: patchBudgetLineItems
      summary: Bulk Write Budget Line Items
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              creates:
              - cost_code_id: 'source_id:      1000'
                cost_type_id: 'source_id:    8'
                original_amount: '100'
                quantity: '13'
                sub_job_id: 'source_id:      1000'
                unit_of_measure: lb
              - cost_code_id: 'source_id:      1000'
                cost_type_id: 'source_id:    8'
                original_amount: '10'
                quantity: '10'
                sub_job_id: 'source_id:         1'
                unit_of_measure: ea
              - cost_code_id: 'source_id:       2070'
                cost_type_id: 'source_id:    7'
                sub_job_id: 'source_id:      1000'
                unit_of_measure: conflict 1
              - cost_code_id: 'source_id:       2070'
                cost_type_id: 'source_id:    8'
                sub_job_id: 'source_id:      1000'
                unit_of_measure: conflict 2
              - cost_code_id: 'source_id:      1000'
                cost_type_id: 'source_id:    7'
                sub_job_id: 'source_id:      1000'
              - cost_code_id: 'source_id:      1000'
                cost_type_id: 'source_id:    0'
                sub_job_id: 'source_id:      1000'
              updates:
              - id: source_id:cost_code_no=      1000|cost_class_no=    7|phase_no=      1000
                original_amount: '200'
                quantity: '26'
                unit_of_measure: lb
              - id: source_id:cost_code_no=         1|cost_class_no=    1|phase_no=      1000
                original_amount: '20'
                quantity: '20'
                unit_of_measure: ea
              - id: cost_code_no=      2070|cost_class_no=    2|phase_no=      2000
                unit_of_measure: conflict 3
              - id: source_id:cost_code_no=      1000|cost_class_no=    8|phase_no=      1000
  /budget-line-items/{budget_line_item_id}:
    get:
      operationId: getBudgetLineItemsByBudgetLineItemId
      summary: Show Budget Line Item
      tags:
      - Financials Management
      parameters:
      - name: budget_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putBudgetLineItemsByBudgetLineItemId
      summary: Update Budget Line Item
      tags:
      - Financials Management
      parameters:
      - name: budget_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_type_id: source_id:520793
              cost_code_id: source_id:61
              quantity: '10'
              unit_cost: '1300'
    delete:
      operationId: deleteBudgetLineItemsByBudgetLineItemId
      summary: Delete Budget Line Item
      tags:
      - Financials Management
      parameters:
      - name: budget_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /budget-transfers:
    get:
      operationId: getBudgetTransfers
      summary: List Budget Transfers
      tags:
      - Financials Management
      parameters:
      - name: expand
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postBudgetTransfers
      summary: New Budget Transfer
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: 'Budget Transfer via API #3'
              line_items:
              - origin_budget_line_item:
                  id: source_id:Phase=012168-30-1021|CostType=1
                  amount: '-1500.00'
                  quantity: '3.0'
                  unit_cost: '-500'
                target_budget_line_item:
                  id: source_id:Phase=012516-05-1015|CostType=5
                  amount: '1500.00'
                  quantity: '1.000'
                  unit_cost: '1500.00000'
              source_data:
                ApprovalDate: '2024-02-22 00:00:00'
  /budget-transfers/{budget_transfer_id}:
    get:
      operationId: getBudgetTransfersByBudgetTransferId
      summary: Show Budget Transfer
      tags:
      - Financials Management
      parameters:
      - name: budget_transfer_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget transfer.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    delete:
      operationId: deleteBudgetTransfersByBudgetTransferId
      summary: Delete Budget Transfer
      tags:
      - Financials Management
      parameters:
      - name: budget_transfer_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget transfer.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /budget-transfers/{budget_transfer_id}/line-items/{budget_transfer_line_item_id}:
    get:
      operationId: getBudgetTransfersByBudgetTransferIdLineItemsByBudgetTransferLineItemId
      summary: Show Budget Transfer Line Item
      tags:
      - Financials Management
      parameters:
      - name: budget_transfer_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget transfer.
      - name: budget_transfer_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget transfer line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /budget-transfers/{budget_transfer_id}/line-items:
    get:
      operationId: getBudgetTransfersByBudgetTransferIdLineItems
      summary: List Budget Transfer Line Items
      tags:
      - Financials Management
      parameters:
      - name: budget_transfer_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget transfer.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /cost-projections:
    get:
      operationId: getCostProjections
      summary: List Cost Projections
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postCostProjections
      summary: New Cost Projection
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: source_id:10100
              cost_type_id: source_id:AC
              date: '2024-06-12'
              cost_at_completion: '21000'
  /cost-projections/{cost_projection_id}:
    get:
      operationId: getCostProjectionsByCostProjectionId
      summary: Show Cost Projections
      tags:
      - Financials Management
      parameters:
      - name: cost_projection_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost projection.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putCostProjectionsByCostProjectionId
      summary: Update Cost Projection
      tags:
      - Financials Management
      parameters:
      - name: cost_projection_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost projection.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example: {}
    delete:
      operationId: deleteCostProjectionsByCostProjectionId
      summary: Delete Cost Projection
      tags:
      - Financials Management
      parameters:
      - name: cost_projection_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost projection.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /budget-production-quantities:
    get:
      operationId: getBudgetProductionQuantities
      summary: List Budget Production Quantities
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postBudgetProductionQuantities
      summary: New Budget Production Quantity
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: '{{cost_code_id}}'
              quantity: '12.0'
              unit_of_measure: ea
  /budget-production-quantities/{budget_production_quantity_id}:
    get:
      operationId: getBudgetProductionQuantitiesByBudgetProductionQuantityId
      summary: Show Budget Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: budget_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putBudgetProductionQuantitiesByBudgetProductionQuantityId
      summary: Update Budget Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: budget_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: test name
              cost_type_id: source_id:B
              cost_code_id: 2e9e19e8-3d31-5e01-bdef-8f8eb3bf1353
              quantity: '12'
              unit_cost: '2'
              unit_of_measure: dollars
              original_amount: '100'
    delete:
      operationId: deleteBudgetProductionQuantitiesByBudgetProductionQuantityId
      summary: Delete Budget Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: budget_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the budget production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /actual-production-quantities:
    get:
      operationId: getActualProductionQuantities
      summary: List Actual Production Quantities
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postActualProductionQuantities
      summary: New Actual Production Quantity
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              cost_code_id: source_id:562950234240870
              date: '2024-04-23'
              quantity: '3.1'
  /actual-production-quantities/{actual_production_quantity_id}:
    get:
      operationId: getActualProductionQuantitiesByActualProductionQuantityId
      summary: Show Actual Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: actual_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the actual production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putActualProductionQuantitiesByActualProductionQuantityId
      summary: Update Actual Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: actual_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the actual production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              quantity: '5.2'
    delete:
      operationId: deleteActualProductionQuantitiesByActualProductionQuantityId
      summary: Delete Actual Production Quantity
      tags:
      - Financials Management
      parameters:
      - name: actual_production_quantity_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the actual production quantity.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /change-orders:
    get:
      operationId: getChangeOrders
      summary: List Change Orders
      tags:
      - Financials Management
      parameters:
      - name: contract_type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postChangeOrders
      summary: New Change Order
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
    patch:
      operationId: patchChangeOrders
      summary: Bulk Write Change Orders
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              creates:
              - approval_date: '2024-03-01'
                contract:
                  id: source_id:SC-L1
                  type: subcontract
                line_items:
                - contract:
                    line_item_id: source_id:1
                  amount: '50'
                  description: SCO description 1
                - contract:
                    line_item_id: source_id:1
                  amount: '51'
                  description: This is a duplicate
                - contract:
                    line_item_id: source_id:2
                  amount: '100'
                  description: SCO description 2
                - amount: '75'
                  cost_code_id: source_id:1-045
                  cost_type_id: source_id:E
                  description: New SC Line Item
                number: SCO4
                issue_date: '2024-02-01'
                name: Test Subcontract CO
                status: Approved
                type: Special
              - approval_date: '2024-03-02'
                contract:
                  id: source_id:PO-L1
                  type: purchase_order
                line_items:
                - contract:
                    line_item_id: source_id:1
                  amount: '150'
                  description: POCO description 1
                - contract:
                    line_item_id: source_id:1
                  amount: '151'
                  description: Another duplicate
                - contract:
                    line_item_id: source_id:2
                  amount: '200'
                  description: POCO description 2
                - cost_code_id: source_id:1-040
                  cost_type_id: source_id:L
                  description: New PO Line Item
                  unit_cost: '175'
                  unit_of_measure: ea
                  quantity: '10'
                number: PCO4
                issue_date: '2024-02-02'
                name: Test Purchase Order CO
                status: Approved
                type: Special
  /subcontracts/{subcontract_id}/change-orders:
    get:
      operationId: getSubcontractsBySubcontractIdChangeOrders
      summary: List Change Orders For One Subcontract
      tags:
      - Financials Management
      parameters:
      - name: subcontract_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the subcontract.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /prime-contracts/{prime_contract_id}/change-orders:
    get:
      operationId: getPrimeContractsByPrimeContractIdChangeOrders
      summary: List Change Orders For Prime Contract
      tags:
      - Financials Management
      parameters:
      - name: prime_contract_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the prime contract.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /change-orders/{change_order_id}:
    get:
      operationId: getChangeOrdersByChangeOrderId
      summary: Show Change Order
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putChangeOrdersByChangeOrderId
      summary: Update Change Order
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: '{{$randomNoun}} Updated Line'
              name: '{{$randomCatchPhraseNoun}} - Updated'
    delete:
      operationId: deleteChangeOrdersByChangeOrderId
      summary: Delete Change Order
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /change-orders/{change_order_id}/line-items:
    get:
      operationId: getChangeOrdersByChangeOrderIdLineItems
      summary: List Change Order Lines Items
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postChangeOrdersByChangeOrderIdLineItems
      summary: New Change Order Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              contract:
                type: subcontract
                id: '{{subcontract_id}}'
                line_item_id: '{{subcontract_line_item_id}}'
              description: '{{$randomBsNoun}} Line'
              quantity: '{{$randomInt}}'
  /change-orders/{change_order_id}/line-items/{change_order_line_item_id}:
    get:
      operationId: getChangeOrdersByChangeOrderIdLineItemsByChangeOrderLineItemId
      summary: Show Change Order Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      - name: change_order_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putChangeOrdersByChangeOrderIdLineItemsByChangeOrderLineItemId
      summary: Update Change Order Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      - name: change_order_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              quantity: '444'
              cost_type_id: '{{cost_type_id}}'
              unit_cost: '91'
              unit_of_measure: EACH
    delete:
      operationId: deleteChangeOrdersByChangeOrderIdLineItemsByChangeOrderLineItemId
      summary: Delete Change Order Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_order_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order.
      - name: change_order_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change order line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Custom Clad
              quantity: '44'
              cost_type_id: '{{cost_type_id}}'
              unit_cost: '91'
              unit_of_measure: EACH
  /change-events:
    get:
      operationId: getChangeEvents
      summary: List Change Events
      tags:
      - Financials Management
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postChangeEvents
      summary: New Change Event
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: Change Event
              name: CE test from postman
              scope: out_of_scope
              status: Open
              type: Allowance
              line_items:
              - amount: '105.5'
                contract:
                  id: '{{purchase_order_id}}'
                  type: purchase_order
                description: line 1 - wbs with purchase order
                quantity: '10'
                unit_cost: '10.55'
                unit_of_measure: HRS
                vendor_id: '{{vendor_id}}'
  /change-events/{change_event_id}:
    get:
      operationId: getChangeEventsByChangeEventId
      summary: Show Change Event
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putChangeEventsByChangeEventId
      summary: Update Change Event
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: Description updated in Postman
              name: Name changed in postman
              number: 020059
              scope: tbd
              status: Closed
              type: Contingency
              source_data:
                change_reason:
                  id: 598134325510442
    delete:
      operationId: deleteChangeEventsByChangeEventId
      summary: Delete Change Event
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /change-events/{change_event_id}/attachments:
    post:
      operationId: postChangeEventsByChangeEventIdAttachments
      summary: Attach to Change Event
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  /change-events/{change_event_id}/line-items:
    get:
      operationId: getChangeEventsByChangeEventIdLineItems
      summary: List Change Event Lines Items
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postChangeEventsByChangeEventIdLineItems
      summary: New Change Event Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: '105.5'
              contract:
                id: 9d726039-3804-55cf-84a0-b6c798505dbd
                type: purchase_order
              description: new change event line
              quantity: '10'
              unit_cost: '10.55'
              unit_of_measure: HRS
              vendor_id: 5fa88540-d37d-5dd7-9a7a-6646b81fbabb
              wbs_id: 4416d8ee-5637-567d-a862-6d0717b8d000
  /change-events/{change_event_id}/line-items/{change_event_line_item_id}:
    get:
      operationId: getChangeEventsByChangeEventIdLineItemsByChangeEventLineItemId
      summary: Show Change Event Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      - name: change_event_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    delete:
      operationId: deleteChangeEventsByChangeEventIdLineItemsByChangeEventLineItemId
      summary: Delete Change Event Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      - name: change_event_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Custom Clad
              quantity: '44'
              cost_type_id: '{{cost_type_id}}'
              unit_cost: '91'
              unit_of_measure: EACH
    put:
      operationId: putChangeEventsByChangeEventIdLineItemsByChangeEventLineItemId
      summary: Update Change Event Line Item
      tags:
      - Financials Management
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event.
      - name: change_event_line_item_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the change event line item.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              quantity: '444'
              cost_type_id: '{{cost_type_id}}'
              unit_cost: '91'
              unit_of_measure: EACH
  /cost-codes:
    get:
      operationId: getCostCodes
      summary: List Cost Codes
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postCostCodes
      summary: New Cost Code
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
  /cost-codes/{cost_code_id}:
    get:
      operationId: getCostCodesByCostCodeId
      summary: Show Cost Code
      tags:
      - Financials Management
      parameters:
      - name: cost_code_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost code.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    put:
      operationId: putCostCodesByCostCodeId
      summary: Update Cost Code
      tags:
      - Financials Management
      parameters:
      - name: cost_code_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost code.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: renamed
    delete:
      operationId: deleteCostCodesByCostCodeId
      summary: Delete Cost Code
      tags:
      - Financials Management
      parameters:
      - name: cost_code_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost code.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /cost-types:
    get:
      operationId: getCostTypes
      summary: List Cost Types
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postCostTypes
      summary: New Cost Type
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              code: SpaceMaterials
              name: SpaceMaterials...
  /cost-types/{cost_type_id}:
    put:
      operationId: putCostTypesByCostTypeId
      summary: Update Cost Type
      tags:
      - Financials Management
      parameters:
      - name: cost_type_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost type.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              code: SUB
              name: Subcontracts
    get:
      operationId: getCostTypesByCostTypeId
      summary: Show Cost Type
      tags:
      - Financials Management
      parameters:
      - name: cost_type_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost type.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    delete:
      operationId: deleteCostTypesByCostTypeId
      summary: Delete Cost Type
      tags:
      - Financials Management
      parameters:
      - name: cost_type_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the cost type.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /sub-jobs:
    get:
      operationId: getSubJobs
      summary: List Sub-Jobs
      tags:
      - Financials Management
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /sub-jobs/{sub_job_id}:
    get:
      operationId: getSubJobsBySubJobId
      summary: Show Sub-Job
      tags:
      - Financials Management
      parameters:
      - name: sub_job_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the sub job.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /vendors/compliances:
    get:
      operationId: getVendorsCompliances
      summary: List Vendor Compliances (All Vendors)
      tags:
      - Financials Management
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
  /vendors/{vendor_id}/compliances:
    get:
      operationId: getVendorsByVendorIdCompliances
      summary: List Vendor Compliances (One Vendor)
      tags:
      - Financials Management
      parameters:
      - name: vendor_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the vendor.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
    post:
      operationId: postVendorsByVendorIdCompliances
      summary: New Vendor Compliance
      tags:
      - Financials Management
      parameters:
      - name: vendor_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the vendor.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
          description: Too Many Requests - Agave or source-system rate limit reached
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              description: This confirms we received the MSDS for the vendor
              status: Compliant
              type: Material Safety Data Sheets
  /vendors/{vendor_id}/compliances/{vendor_compliance_id}:
    get:
      operationId: getVendorsByVendorIdCompliancesByVendorComplianceId
      summary: Show Vendor Compliance
      tags:
      - Financials Management
      parameters:
      - name: vendor_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the vendor.
      - name: vendor_compliance_id
        in: path
        required: true
        schema:
          type: string
        description: Agave identifier for the vendor compliance.
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized - missing or invalid Client-Id / Client-Secret / Account-Token / API-Version header
        '429':
[...]
