openapi: 3.2.0
info:
  title: Agave Unified Construction Budgets Employees API
  description: The Agave Unified Construction API provides a single REST API to read and write data from 100+ construction and accounting software systems. It normalizes data across platforms including projects, budgets, contracts, commitments, purchase orders, invoices, cost codes, vendors, timesheets, and employees.
  version: '1.0'
  contact:
    name: Agave API Support
    url: https://docs.agaveapi.com
  x-generated-from: documentation
servers:
- url: https://api.agaveapi.com
  description: Production Server (verified 2026-08-30 — https://api.agaveapi.com/projects returns 401
    "Invalid API-Version header"; the /v1 prefix previously carried here 404s and sandbox.agaveapi.com
    does not resolve)
security:
- ClientId: []
  ClientSecret: []
  AccountToken: []
tags:
- name: Employees
  description: Employee records and workforce management.
paths:
  /employees:
    get:
      operationId: listEmployees
      summary: Agave List Employees
      description: Retrieve employee records from the linked source system.
      tags:
      - Employees
      parameters:
      - name: source_system_id
        in: header
        required: true
        description: The linked account source system identifier.
        schema:
          type: string
        example: linked-account-abc123
      - name: limit
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: A list of employees.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeList'
              examples:
                listEmployees200Example:
                  summary: Default listEmployees 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - {}
                    next_cursor: example_value
                    count: 1
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listEmployees401Example:
                  summary: Default listEmployees 401 response
                  x-microcks-default: true
                  value:
                    error: example_value
                    message: example_value
                    request_id: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Employee:
      type: object
      description: An employee record.
      properties:
        id:
          type: string
          description: Employee identifier.
          example: emp-123456
        first_name:
          type: string
          description: Employee first name.
          example: John
        last_name:
          type: string
          description: Employee last name.
          example: Doe
        email:
          type: string
          description: Employee email address.
          example: john.doe@contractor.com
        title:
          type: string
          description: Employee job title.
          example: Project Manager
        status:
          type: string
          description: Employment status.
          enum:
          - active
          - inactive
          - terminated
          example: active
        hire_date:
          type: string
          format: date
          description: Date of hire.
          example: '2020-06-01'
    Error:
      type: object
      description: API error response.
      properties:
        error:
          type: string
          description: Error code.
          example: not_found
        message:
          type: string
          description: Human-readable error description.
          example: The requested resource was not found.
        request_id:
          type: string
          description: Unique request ID for support.
          example: req-a1b2c3d4e5
    EmployeeList:
      type: object
      description: Paginated list of employees.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
          example:
          - example_value
        next_cursor:
          type: string
          example: eyJpZCI6MTIzfQ==
        count:
          type: integer
          example: 50
  securitySchemes:
    ClientId:
      type: apiKey
      in: header
      name: Client-Id
      description: Your Agave Client Identifier, always a 36-character UUID. Source https://docs.agaveapi.com/agave-api/headers
    ClientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Your Agave Client Secret, a 40-character string. Source https://docs.agaveapi.com/agave-api/headers
    AccountToken:
      type: apiKey
      in: header
      name: Account-Token
      description: The unique Account Token associated with the linked User account. Not used on Link Token requests. Source https://docs.agaveapi.com/agave-api/headers
